#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sub_list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-direction: column;
  /* background-color: #e5dada;     */
}

.sub_card {
  padding-top: 10px;
  list-style: none;
  border: 1px solid rgba(189, 68, 68, 0.379);
  border-radius: 20px;
  width: 320px;
  height: 150px;
}

.sub_list img {
  border-radius: 50%;
  width: 50px;
}

.sub_form {
  display: flex;
  flex-direction: column;
  gap: 10px;

}